/* paleta de colores para usar */
:root {
	--primary: #004643;
	--white: #fffffe;
	--gray: #abd1c6;
    --normal: #001e1d;
    --boton:#f9bc60;
}

body {
    margin: 0;
    max-height: 100%;
    font-size: 14px;
    overflow-y: hidden; 
    overflow-x: hidden;
    font-family: 'Roboto';font-size: 22px;
    color: var(--white);
    background-color: var(--primary);
	
}

h2, h3, label, p, .content ul, button {
    color: var(--normal);
}

/* contenedor ppal donde va a contener formularios y demas info a mostrar */
.content {
    padding-top: 5px;
	background-color: var(--white);
    height: auto;
    padding-bottom: 3%;
}

/* banner contacto */

#banner-contacto {
    height:20%;
    width:100%;
}

.formularios {


}

.nav {
	border-bottom: 1px solid var(--gray);
}

.nav_toggle {
	position: absolute;
	cursor: pointer;
	margin: 0 1rem;
	right: 0;
}

.nav_toggle svg {
	width: 1rem;
	fill: var(--white);
}

.nav_toggle .close {
	display: none;
}

.nav_toggle .close,
.nav_toggle .menu {
	margin-top: 0.3rem;
}

.nav_checkbox {
	display: none;
}

.nav_menu {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	margin: 1rem;
}

.nav_menu li {
	list-style-type: none;
	display: none;
}

.nav_menu li:first-child {
	margin-right: auto;
	display: block;
}

.nav_menu a {
	text-decoration: none;
	color: inherit;
	font-size: 1.1rem;
}

.menu_logo {
	height: 90px;
}

.menu_logo img {
	height: 100%;
}

#nav_checkbox:checked ~ ul.nav_menu li {
	display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .close {
	display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .menu {
	display: none;
}


/* estilos para el footer del sitio */
.footer {
	height: 30px;
	display: flex;
    top: 3.5rem;
    margin-top: auto;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

footer a {
	color: var(--white);
}

.textRedes {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.footer_texto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    height: 90%;
    padding: 0.3rem 1rem 0 5rem;
}

.footer_texto p {
    margin-bottom: 8px;
    font-size: 18px;
}

.logo {
    width: 40%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.redes {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.socialIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.logo-footer {
    width: 6.5rem;
    height: 5.5rem;  
}

/* para la galeria ppal de la home */
.contenedor-galeria {
    display: grid;
    place-items: center;

}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.contenedor-imagen {
    padding-top: 5px;
    position: relative;
    left: 0;
    width: 1300px; /* altura de la galeria */
    border-radius: 5px;
    height: 400px; /* altura de la galeria */
    overflow: hidden;
    background-color: #efefef;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(151, 81, 81, 0.5);
    flex: 0.25;
}

.contenedor-imagen img {
    height: 340px;
    width: 1300px;
    object-fit: cover;
}

.contenedor-imagen:hover {
    flex: 2;
    cursor: pointer;
    border-radius: 8px;
}

/* para los formularios de la web */
.contenedor-form {
    max-width: 1400px;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--secondary);
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 20%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.inputs, button.boton-form {
    flex: 3 0 calc(33.33% - 10px);
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.boton-form {
    background-color: var(--boton);
    color: var(--normal);
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: bold;
}


/* para la home ppal */
.elementor-element {
    --widgets-spacing: 20px;
}

.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: var(--flex-direction);
    flex-direction: var(--flex-direction);
    -ms-flex-wrap: var(--flex-wrap);
    flex-wrap: var(--flex-wrap);
    -webkit-box-pack: var(--justify-content);
    -ms-flex-pack: var(--justify-content);
    justify-content: var(--justify-content);
    -webkit-box-align: var(--align-items);
    -ms-flex-align: var(--align-items);
    align-items: var(--align-items);
    -ms-flex-line-pack: var(--align-content);
    align-content: var(--align-content);
    gap: var(--gap);
    -ms-flex-preferred-size: var(--flex-basis);
    flex-basis: var(--flex-basis);
    -webkit-box-flex: var(--flex-grow);
    -ms-flex-positive: var(--flex-grow);
    flex-grow: var(--flex-grow);
    -ms-flex-negative: var(--flex-shrink);
    flex-shrink: var(--flex-shrink);
    -webkit-box-ordinal-group: var(--order);
    -ms-flex-order: var(--order);
    order: var(--order);
    -ms-flex-item-align: var(--align-self);
    align-self: var(--align-self);
}

.elementor-widget-wrap {
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 10px;
}

.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}



/* para cuando la pantalla es grande cambian algunas cosas para que se vea el menu complet*/
@media only screen and (min-width: 560px) {
	.nav_toggle {
		display: none;
	}

	.nav_menu {
		flex-direction: row;
	}

	.nav_menu li {
		display: block;
	}
}

