/* paleta de colores para usar */
:root {
	--primary: #004643;
	--white: #fffffe;
	--gray: #abd1c6;
  --normal: #001e1d;
  --boton:#f9bc60;
  --tertiary:#e16162;
}

html{
    min-height: 100%;
}

body {
    margin: 0;
    max-height: 100%;
    font-size: 14px;
    overflow-y: hidden; 
    overflow-x: hidden;
    font-family: 'Roboto';
    color: var(--white);
	  min-height: 100%;

}

h2, h3, label, p, .content ul, button, #requisitos {
    color: var(--normal);
}

#requisitos {
  padding: 30px;
}

span {
  color: var(--normal);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-left: 10%;
}

.login-p {
  font-size: 12px;
  text-align: left;
}

/* contenedor ppal donde va a contener formularios y demas info a mostrar */
.content {
    /*padding-top: 5px;*/
	  background-color: var(--white);
    height: auto;
    display: inline-block;
    padding-bottom: 25px;
}

.content-usuarios {
  /*padding-top: 5px;*/
  background-color: var(--white);
  height: auto;
  display: inline-block;
  padding-bottom: 25px;
  margin-top: 3%;
  align-content: center;
  margin-left: 30%;
}

.content-form {
   margin-bottom: 45px;
}

.content-form .signupFrm {
  margin-left: 10%;
}

.adopcion-mascotas {
  padding: 45px;
  margin-left: 5%;
}

#capa1, #capa2, #capa3{
  font-size:18px;
  border:2px;
  border-style:solid;
  margin:5px;
  margin-left:15px;
  padding:25px;
  height:auto;
  background-color: var(--boton);
  width:28%;
  float:left;
  border-top-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img-adoptar {
  height: 340px;
  width: 340px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
} 

/* banner contacto */
#banner-contacto {
    height:5%;
    width:100%;
    z-index: 1;
}

.home {
  padding:3px;
  height:auto;
  width:100%;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

/* la galeria de mascotas con su info */
article {
  padding-left: 12px;
  height: auto;
  margin-top: -15px;
  margin-left: 35px;
  margin-bottom: 35px;
} 

aside {
  margin-bottom: 15px;
}

.banner-home {
  height:10%;
  width:100%;
  padding: 15px;
  /* Vertical | Horizontal */
  margin: 3% auto;
  background-color: var(--boton);
  text-align: center;
  border-radius: 30% 20% / 10% 30%;
}


.banner-home p {
  font-style: inherit;
  font-weight: bold;
}

/* contenedor de dond dirige las mascotas */
#mis-mascotas {
  margin-top: 5px;
  height:auto;
  padding: 5px;
  display: block;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(22deg, var(--boton),var(--gray));
  opacity: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#mis-mascotas h1 {
  color: var(--normal); 
  font-size: 26px;
  text-align: center;
}

#mis-mascotas p {
  color: var(--normal); 
  font-size: 18px;
  text-align: center;
}

#mis-mascotas button {
  color: black;
  height: 120px;
  transform: translateX(50%);
  width: 50%;
  border: 1px solid var(--gray);
  border-radius: 18px;
  font-size: 35px;
  padding: 10px;
  margin: 20px;
  background: var(--tertiary);
  transition-property: background;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

#mis-mascotas button:hover {
  background: var(--primary);
  transform: translateX(50%);
}

/* par el menu */
.nav {
    padding-top: 5px;
	border-bottom: 1px solid var(--gray);
    background-color: var(--primary);
}

.nav_toggle {
	position: absolute;
	cursor: pointer;
	margin: 0 1rem;
	right: 0;
}

.nav_toggle svg {
	width: 1rem;
	fill: var(--white);
}

.nav_toggle .close {
	display: none;
}

.nav_toggle .close,
.nav_toggle .menu {
	margin-top: 0.3rem;
}

.nav_checkbox {
	display: none;
}

.nav_menu {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	margin: 1rem;
    background-color: var(--primary);
}

.nav_menu li {
	list-style-type: none;
	display: none;
}

.nav_menu li:first-child {
	margin-right: auto;
	display: block;
}

.nav_menu a {
	text-decoration: none;
	color: inherit;
	font-size: 1.1rem;
}

/*
.nav_menu a:hover {
    box-shadow: 0 32px 16px 0 rgba(0,0,0,0.24), 0 37px 50px 0 var(--boton);
}*/

.menu_logo {
	height: 90px;
}

.menu_logo img {
	height: 100%;
}

#nav_checkbox:checked ~ ul.nav_menu li {
	display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .close {
	display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .menu {
	display: none;
}


/* estilos para el footer del sitio */
.footer {
    background-color: var(--primary);
	  height: 120px;
	  display: flex;
    top: 3.5rem;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer a {
	color: var(--white);
}

.textRedes {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.footer_texto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    height: 90%;
    padding: 0.3rem 1rem 0 5rem;
}

.footer_texto p {
    margin-bottom: 8px;
    font-size: 18px;
}

.logo {
    width: 40%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.redes {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.socialIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.logo-footer {
    width: 6.5rem;
    height: 5.5rem;  
}

/* para la galeria ppal de la home */
.contenedor-galeria {
    display: grid;
    place-items: center;
    width: 100%;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.contenedor-imagen {
    padding-top: 5px;
    position: relative;
    left: 0;
    width: 1300px; /* altura de la galeria */
    border-radius: 5px;
    height: 400px; /* altura de la galeria */
    overflow: hidden;
    background-color: #efefef;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(151, 81, 81, 0.5);
    flex: 0.25;
}

.contenedor-imagen img {
    height: 340px;
    width: 1300px;
    object-fit: cover;
}

.contenedor-imagen:hover {
    flex: 2;
    cursor: pointer;
    border-radius: 8px;
}

/* para los formularios de la web */
.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    height: auto;
    margin-left: 20%;
    margin-bottom: 5%;
  }
  
  .form {
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px var(--normal);
  }
  
  .title {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--normal);
  }
  
  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }
  
  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid var(--normal);
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }

  .asunto {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 88%;
    margin-left: 23%;
    border: 1px solid var(--normal);
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }

  .consulta {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    margin-top: 23px;
    border: 1px solid var(--normal);
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    width:100%;
  }

  .input-f {
    position: absolute;
    top: 0.3px;
    left: 0.3px;
    height: 100%;
    width: 100%;
    border: 1px solid var(--normal);
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
  
  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: var(--normal);
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  .label-text {
    position: absolute;
    top: -3px;
    left: 15px;
    padding: 3 4px;
    background-color: var(--normal);
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }
  
  ::placeholder {
    color: transparent;
  }

  /* boton de adoptarme */
  .submitBtnAdop {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    background-color: var(--tertiary);
    color: var(--gray);
    border-radius: 12px;
    border: 2px solid var(--gray);
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 10px;
    width: 80%;
    font-weight: bold;

  }

  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: var(--boton);
    color: var(--normal);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    width: 100%;
    font-weight: bold;
  }

  .submitBtn-dona {
    display: block;
    margin-left: 20%;
    padding: 15px 30px;
    border: none;
    background-color: var(--tertiary);
    color: var(--normal);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 60%;
    font-weight: bold;
  }

  .submitBtnC {
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: var(--tertiary);
    color: var(--normal);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    font-weight: bold;
  }

  /* estilo para la lista del conocenos */
  ul li {
    list-style: url('../images/iconos/icons8-me-gusta-64.png');
    padding: 5px;
  }

  #video-ilustrativo {
    align-items: center;
    margin-left: 6%;
  }

  a:link, a:visited, a:active {
    text-decoration:none;
  }
  
  .submitBtn:hover, .submitBtnC:hover, .submitBtn-dona:hover {
    background-color: var(--boton);
    transform: translateY(-3px);
  }

  .submitBtnAdop:hover {
    background-color: var(--normal);
    transform: translateY(-3px);
  }

  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: var(--boton);
  }
  
  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }
  
  .input:focus, .consulta:focus  {
    border: 2px solid var(--boton);
  }


/* para la presentacion de quienes somos */
.conocenos {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-gap: 60px; /* espacio entre las columnas */
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-rule: 2px none #000000;
  -webkit-column-rule: 2px none #000000;
  -moz-column-rule: 2px none #000000;
  padding: 35px;
  margin-top: 15px;
}


#banner-donacion {
  position: relative;
  z-index: 1;
}

/*  aparece en la vista de quiero donar */
.rotating-text-wrapper {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 2;
  margin-left: 40%;
}

.rotating-text-wrapper h2 {
  font-size: 25px;
  margin: 0;
  padding: 0.3em;
  color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  animation-duration: 6s;
  animation-iteration-count: infinite;
  opacity: 0;
  text-align: center;
}

.rotating-text-wrapper h2:nth-child(1) {
  background-color: lightseagreen;
  animation-name: rotating-text-1;
}

@keyframes rotating-text-1 {
  0% {
    transform: translateY(200%);
  }
  33% {
    transform: translateY(100%);
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}

.rotating-text-wrapper h2:nth-child(2) {
  background-color: tomato;
  animation-name: rotating-text-2;
}

@keyframes rotating-text-2 {
  33% {
    transform: translateY(100%);
    opacity: 0;
  }
  66% {
    transform: translateY(0);
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
}

.rotating-text-wrapper h2:nth-child(3) {
  background-color: cornflowerblue;
  animation-name: rotating-text-3;
}

@keyframes rotating-text-3 {
  66% {
    transform: translateY(0);
    opacity: 0;
  }
  99% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@media screen and (max-width: 576px) {
  .rotating-text-wrapper {
    font-size: 0.7rem;
  }
}

/* para cuando la pantalla es grande cambian algunas cosas para que se vea el menu complet*/
@media only screen and (min-width: 560px) {
	.nav_toggle {
		display: none;
	}

	.nav_menu {
		flex-direction: row;
	}

	.nav_menu li {
		display: block;
	}
}

/* para scrolear en la web */
.snap-container {
  height: 100vh;
  width: auto;
  overflow: auto;  
  scroll-snap-type: y mandatory;  
}

/* para la validacion del formulario */
#nombreError {
  display: none;
  font-size: 18px;
  color:var(--tertiary);
  font-weight: bold;
  padding-bottom: 10%;
}

#nombreError.visible {
  display: block;
}

input.invalido {
  border-color: var(--tertiary);
}