:root {
	--primary: #121f3d;
	--white: #fff;
	--gray: #2a324b;
}

body {
    margin: 0;
    max-height: 100%;
    font-size: 14px;
    overflow-y: hidden; 
    overflow-x: hidden;
    font-family: "Open Sans",  Impact;
    color: var(--white);
    background-color: var(--primary);
	
}

.content {
	background-color: var(--white);
    height: 345px;
}

.nav {
	border-bottom: 1px solid var(--gray);
}

.nav_toggle {
	position: absolute;
	cursor: pointer;
	margin: 0 1rem;
	right: 0;
}

.nav_toggle svg {
	width: 1rem;
	fill: var(--white);
}

.nav_toggle .close {
	display: none;
}

.nav_toggle .close,
.nav_toggle .menu {
	margin-top: 0.3rem;
}

.nav_checkbox {
	display: none;
}

.nav_menu {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	margin: 1rem;
}

.nav_menu li {
	list-style-type: none;
	display: none;
}

.nav_menu li:first-child {
	margin-right: auto;
	display: block;
}

.nav_menu a {
	text-decoration: none;
	color: inherit;
	font-size: 1.1rem;
}

.menu_logo {
	height: 90px;
}

.menu_logo img {
	height: 100%;
}

#nav_checkbox:checked ~ ul.nav_menu li {
	display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .close {
	display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .menu {
	display: none;
}


/* estilos para el footer del sitio */
.footer {
	border-top: 1px solid var(--gray);
	height: 30px;
	display: flex;
    top: 4.5rem;
    margin-top: auto;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

footer a {
	color: var(--white);
}

.textRedes {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.footer_texto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    height: 90%;
    padding: 0.5rem 1rem 0 3rem;
}

.footer_texto p {
    margin-bottom: 8px;
    font-size: 14px;
}

.logo {
    width: 40%;
    display: flex;
    justify-content: center;
}

.redes {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.socialIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.logo-footer {
    width: 6.5rem;
    height: 5.5rem;
}

/* para la galeria ppal de la home */
.contenedor-galeria {
    display: grid;
    place-items: center;
    width: 150px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 400px;
}

.contenedor-imagen {
    position: relative;
    left: 0;
    width: 1300px; /* altura de la galeria */
    border-radius: 5px;
    height: 340px; /* altura de la galeria */
    overflow: hidden;
    background-color: #efefef;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgb(0, 0, 0, 0.5);
    flex: 0.25;
}

.contenedor-imagen img {
    height: 340px;
    width: 1300px;
    object-fit: cover;
}

.contenedor-imagen:hover {
    flex: 2;
    cursor: pointer;
    border-radius: 8px;
}

/* para los formularios de la web */
.contenedor-form {
    
    max-width: 1400px;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 20%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.inputs, button.boton-form {
    flex: 3 0 calc(33.33% - 10px);
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.boton-form {
    background-color: blueviolet;
    color: #fff;
    border: none;
    cursor: pointer;
}


/* para cuando la pantalla es grande cambian algunas cosas para que se vea el menu complet*/
@media only screen and (min-width: 560px) {
	.nav_toggle {
		display: none;
	}

	.nav_menu {
		flex-direction: row;
	}

	.nav_menu li {
		display: block;
	}
}

