@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0;
    max-height: 100%;
    font-size: 14px;
    overflow-y: hidden; 
    overflow-x: hidden;
    font-family: "Open Sans",  Impact;
}

#contenedor,
#cielo,
#piso {
    width: 100%;
}

#contenedor {
    height: 100%;
    overflow-y: hidden; 
    overflow-x: hidden;
}

/* estilo para el menu del juego y las instrucciones donde se muestra como se juega */
#menu, #gameOver, #instrucciones {
    background-image: linear-gradient(
        to bottom,
        rgb(0 0 255 / 50%),
        rgba(216 47 5 / 50%),
        rgb(0 0 255 / 60%)
      ), url(../images/ef8af925cfbfed372b36a31a5930fdfe.jpg);
    background-size: 80%;
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    padding: 0px 10px;
    align-items: center;
    opacity: .9;
    z-index: 1;
}


ul{
    list-style: none;
    margin-top: 10%;
}

#instrucciones {
    color: blanchedalmond;
    font-size: 21px;
}

/* cuando pierde */
.game-Over {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(250, 249, 249);
    text-align: center;
    background-image: linear-gradient(
        to bottom,
        rgb(0 0 255 / 50%),
        rgba(216 47 5 / 50%),
        rgb(0 0 255 / 60%)
      ), url(../images/ef8af925cfbfed372b36a31a5930fdfe.jpg);
    background-size: 80%;
    z-index: 2;

}

#menu img {
    margin-top: 10%;
}

.game-Over h1 {
    font-size: 58px;
    margin-top: 20px;
    padding: 5px;
    box-shadow: 2px 2px rgba(245, 244, 244, 0.973);
    border: 0cap;
}

.game-Over h2 {
    margin-top: 10px;
    padding: 0%;
}

#volverAJugar {
    width: 200px;
    margin-bottom: 40%;
}

/* animacion para las instrucciones del juego */
.slidein {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: 3;
    animation-direction: alternate;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/* para los botones del juego */
button {
    background-color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    border:none;
    margin:20px;
    height: 55px;
    width: 185px;
    box-shadow: 2px 2px 2px white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

/* cuando pasa por arriba del boton */
button:hover {
    background-color: rgba(177, 57, 139, 0.686);
}

#portada {
    border-radius: 10px;
}
/*
h1 {
    font-size: 58px;
    margin-top: 50px;
    color: rgb(212, 6, 75);
    box-shadow: 2px 2px rgba(245, 244, 244, 0.973);
}

h1:hover {
    box-shadow: 8px 4px 3px 2px rgba(238, 2, 61, 0.2);
}*/

#menu img {
    height: 150px;
    width: 150px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#menu img:hover {
    box-shadow: 8px 4px 3px 2px rgba(238, 2, 61, 0.2);
}

/* estilos del juego */
#cielo {
    height: 80%;
    background: url("../images/BG.png") repeat-x;
    background-size: 1280px 100%;
    position: absolute;
    animation: sky 25s linear infinite;
}

@keyframes sky {
    0% {
        background-position: 1280px
    }

    100% {
        background-position: 0
    }
}

#contador,
#vidas,
#puntos {
    color: rgb(12, 11, 11);
    padding: 8px;
}

/* el contador */
.timeOut {
    color: rgb(54, 3, 65);
}


/*
#arboles {
    height: 80%;
    background: url("../images/obstaculos/arbusto.png") repeat-x;
    background-size: 1000px 100%;
    position: absolute;
    animation: arboles 15s linear infinite;
}

@keyframes arboles {
    0% {
        background-position: 1000px
    }
    100% {
        background-position: 0
    }
}*/

#piso {
    height: 20%;
    background: url("../images/floor.png") repeat-x;
    background-size: 831px 100%;
    animation: floor 8s linear infinite;
    position: absolute;
    bottom: 0px;
    z-index: 0;
}

@keyframes floor {
    0% {
        background-position: 831px
    }

    100% {
        background-position: 0
    }
}

#personaje {
    width: 135px;
    height: 178px;
    z-index: 1;
    position: absolute;
    bottom: 18%;
    left: 100px;
    background: url("../images/personaje/pajaro.png") repeat-x;
}

.correr {
    /* va a correr mientras no aprete ninguna tecla de pausa o para saltar */ 
    animation: correr .8s steps(9) infinite;
}


@keyframes correr {
    0% {
        background-position: 0
    }

    100% {
        background-position: -1398px
    }
}

.saltar {
    animation: saltar 800ms cubic-bezier(0,0,.5,1) forwards; 
}

/* al saltar */
@keyframes saltar {
    from {
        bottom: 18%;
    }
    to {
        bottom: 50%;
    }
   
}

.caer {
    animation: caer 600ms cubic-bezier(0,0,.5,1) forwards;
}

/* cuando cae */
@keyframes caer {
    from {
        bottom: 50%;
    }
    to {
        bottom: 18%;
    }
}

/* esto serian los obstaculos que le aparecen al personaje */
.enemigo {
    position: absolute;
    bottom: 20%; /* posicion en la que aparece a partir del suelo del juego */
    width: 77px;
    height: 77px;
    background: url("../images/obstaculos/Crate.png") repeat-x;
    /*background-size: 50px; */
    box-shadow: 36px;
    animation: enemigo 8.5s forwards linear;
}

@keyframes enemigo {
    from {
      left: 100%;
    }
    to {
      left: -40%; /* distancia entre obstaculo */
    }
}

/* esto serian los obstaculos que le aparecen al personaje */
/*.enemigo {
    position: absolute;
    bottom: 23%; /* posicion en la que aparece a partir del suelo del juego /
    width: 313px;
    height: 260px;
    background: url("../images/obstaculos/Tree.png");
    box-shadow: 36px;
    animation: enemigo 9s linear infinite;
    background-repeat: no-repeat;
}

@keyframes enemigo {
    from {
      left: 100%;
    }
    to {
      left: -10%; /* distancia entre obstaculo /
    }
}*/

/* para sumar vidas */
.bonusVidas {
    position: absolute;
    bottom: 60%;
    width: 110px;
    height: 70px;
    background: url("../images/iconos/10028facewithoutmouth.png");
    animation: bonusVidas 3s forwards linear;
}

@keyframes bonusVidas {
    from {
        left: 100%;
    }
    to {
        left: -15%;
    }
}


/* para sumar puntos */
.bonus {
    position: absolute;
    bottom: 60%;
    width: 120px;
    height: 52px;
    background: url("../images/love-plus.png");
    transform: rotate(15deg);
    animation: bonusVidas 3s forwards linear;
}

@keyframes bonus {
    from {
        left: 100%;
    }
    to {
        left: -15%;
    }
}

/* indica que el elemento fue golpeado o no con algun otro */
.golpeado {
    display: none;
}


